<div class="email-capture u-margin-Tl u-margin-Bl">
  <form action="//formspree.io/hello@anothertompetty.com"
        method="POST">
    <input type="email" name="_replyto" placeholder="email@example.com">
    <input type="submit" value="Send">
  </form>
</div>