<div class="text--meta u-cf">
  <span class="u-pull-start">
    <span class="text--meta--heavy">Agencies.wtf</span> | {{this.page.interviewee}}
  </span>
  <span class="menu__button u-pull-end">&raquo; Menu</span>
</div>

<div class="menu">
  <div class="menu__list u-margin-Txl">
  	<ul>
  	  <li class="menu__list--page"><a href="/">HOME</a></li>
  	  <li class="menu__list--page u-margin-Bl"><a href="/about.html">ABOUT</a></li>
      <hr class="paragraph-break">
  	  {{#withSort post 'data.posted'}}
  	    {{#each this.pages }}
  	    	<li class="text--large">
            <a href="{{ replaceStr this.dest '_build' '' }}">{{ this.data.title }}</a>
          </li>
  	    {{/each}}
  	  {{/withSort}}
  	</ul>
  </div>
</div>