---
title: "Renaissance Man"
interviewee: "Alasdair Monk"
image: "/img/ije.jpg"
posted: 2015-06-07
post: true
---

<img src="{{this.page.image}}">

<h1 class="u-text-center">{{this.page.title}}</h1>

<p class="container__inner text--meta u-text-center">
  <span class="text--meta__heavy">{{this.page.interviewee}}</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
</p>

<hr class="paragraph-break">

<p class="container__inner u-margin-Bl">
	<u>WTF:</u> Tell us a little bit about what you do
</p>

<p class="container__inner">
	<u>AM:</u> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<hr class="paragraph-break">

<blockquote class="container__inner">
	I am a massive fuck-off block quote
</blockquote>

<hr class="paragraph-break">

<p class="container__inner u-margin-Bl">
  <u>AM:</u> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>