---
title: "The Agency Girl"
interviewee: "Camilla Grey"
image: "/img/camilla.jpg"
posted: 2014-06-01
post: true
---

<img src="{{this.page.image}}">

<h1 class="u-text-center">{{this.page.title}}</h1>

This is Interview 3