---
title: "The Lone Wolf"
interviewee: "Daniel Howells"
image: "/img/dan.jpg"
posted: 2015-06-17
post: true
---

<img src="{{this.page.image}}">

<h1 class="u-text-center">{{this.page.title}}</h1>

<p class="container__inner text--meta u-text-center">
  <span class="text--meta__heavy">{{this.page.interviewee}}</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
</p>

<hr class="paragraph-break">

<p class="container__inner text--question u-margin-Bl">
  <span>Tell us a little bit about what you do</span>
</p>

<p class="container__inner u-margin-Bl">
	What I do seems to change from project-to-project: sometimes I help design agencies and clients with just the development or their web projects, sometimes I take on just the design element, and in other cases I do both the design and development. Projects range from websites, to prototyping web products and mobile apps, across all different sorts of industries.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>How did you get into the industry?</span>
</p>

<p class="container__inner u-margin-Bl">
  In a very roundabout way. I taught myself web design and development way back in the dark ages when dot coms were teetering on the edge of catastrophe.<br><br>

  In 2000 some friends and I decided to launch our own startup, called What Happened Last Night. As the name suggests it was the precursor to the likes of Facebook and Thrillist, when people didn’t didn’t have their own digital cameras with which to share the messy details of their nights out. We’d take photos and upload them onto a website for people to see and buy prints of the next day.<br><br>

  It turned out we didn’t know anyone who could design or make websites, so I volunteered. It was a fascinating experience full of ups and downs, but I didn’t go into the industry immediately afterwards since it wasn’t even an industry as we know it today (most people didn’t even have email addresses). I walked a wobbly road through advertising, management consulting, and investment banking before realising I hated all those things; the only thing I enjoyed was the web stuff that I was doing in my spare time. In about 2008 I joined YCN.org on a full time contract basis, and then in 2009 I became a freelancer/agency-of-one with my own clients.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>What made you set up on your own?</span>
</p>

<p class="container__inner u-margin-Bl">
  In 2009, I set up a web design blog called siteinspire.com. It was only ever supposed to be a visual bookmarking tool for sites that I loved, but it began to get popular and suddenly it had garnered a large audience. I got two lines of enquiry via it: clients who were looking for websites, and other designers and developers who were looking to collaborate. So with a pipeline of potential clients I jumped into the unknown, and it went from there.
</p>

<hr class="paragraph-break">

<blockquote class="container__inner">
	I jumped into the unknown, and it went from there.
</blockquote>

<hr class="paragraph-break">

<p class="container__inner text--question u-margin-Bl">
  <span>What kind of work did you want to do?</span>
</p>

<p class="container__inner u-margin-Bl">
  When I started as an independent, I really didn’t care. I took on some dreadful projects just because I was panicking about making money. Luckily I needn’t have worried, and started to become more picky about what I took on. As an independent though it is often really difficult to say no to projects, and is a skill in itself; one that I’m still trying to master.<br><br>

  The strange thing about the industry is that what people want to do seems to shift weekly, as new kinds of products and technology appear and disappear. I don’t think I’ve ever met anyone who knows precisely what they want to do.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Did the reality match your expectations?</span>
</p>

<p class="container__inner u-margin-Bl">
  Pretty much: I’ve only had 1 year of full time employment in this industry so I actually don’t have many expectations or preconceptions versus someone who might have spent a decade in an advertising agency. I do know, however, that anything is better than what I was doing when I was a full time employee of a bank!
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Did you ever want to join an agency?</span>
</p>

<p class="container__inner u-margin-Bl">
  I’m sometimes envious of the work that a large group of really talented people can execute, but I have heard horror stories of the late nights, constant pitching, and politics that puts me off as quickly as it does intrigue me. I spent about 6 weeks at a large agency where I glimpsed this, and it wasn’t at all what I’d like to do full time.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Did you ever want to join a startup?</span>
</p>

<p class="container__inner u-margin-Bl">
  Absolutely, but there are two problems: most startup ideas are terrible (especially in London), and the really good ideas appear to have sprung out of nowhere and I’m not close enough to the startup scene such that I hear about very early stage startups. To counter this sense of FOMO, I often talk to friends who have joined startups, and more often than not they are badly organised and chaotic, with only a small chance of success. The grass is always greener, not helped by the likes of Twitter and things like Product Hunt.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>What are you working on now?</span>
</p>

<p class="container__inner u-margin-Bl">
  Apart from various client projects, I’m always working on one or two side projects. I often don’t finish them but that is okay. I use side projects as ways to learn a new technology, or try out some ideas. I always try to work on ideas that help me with something: I’m working on a tool to manage my own creative contacts, and also a short-form blogging system (somewhere between Twitter and Medium).
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Are you able to do the kind of work you want to do?</span>
</p>

<p class="container__inner u-margin-Bl">
  I think so, but that’s only because I don’t know anyone who *is* doing the work I want to do. It’s a strange feeling being on the verge of dissatisfaction because of something nebulous and  unattainable, but conversely if I feel I am doing all that I can, I’ll be pretty happy for the next few decades!
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>What’s next for you?</span>
</p>

<p class="container__inner u-margin-Bl">
  I have zero plans. The last time I had a plan was swanning off to San Francisco to join a big company that make watches, but I learned that wasn’t what I wanted to do when I went through the interview process. It’s best not to have a plan in this industry, unlike something like the law or finance where the paths are extremely clear and you need to beat a path to the top.
</p>

<hr class="paragraph-break">

<blockquote class="container__inner">
  I often talk to friends who have joined startups, and more often than not they are badly organised and chaotic.
</blockquote>

<hr class="paragraph-break">

<p class="container__inner text--question u-margin-Bl">
  <span>Are you optimistic about the future of creative agencies?</span>
</p>

<p class="container__inner u-margin-Bl">
  The nature of “an agency” won’t exist in the same way we understand them now. In the near future they will be quite loose affiliations of people joined with a common goal, and not necessarily in the same physical space. The tools to manage such organisations don’t exist yet, but they will. I think the likes of Fictive Kin are really interesting models for the future of the agency.<br><br>

  People talk about collectives as being the future of the agency, but the imbalance of individual’s effort vs money will always be a stumbling block, and I’m unsure how that can be overcome.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Do you believe agencies are equipped to deal with new client needs?</span>
</p>

<p class="container__inner u-margin-Bl">
  From my experience, the vast number of design agencies are literally panicking trying to adapt to client demands. They often barely understand the internet and try to offer solutions learned from print communications which are often hopelessly inappropriate. On the flip side, there is huge upsides for any agencies who are digitally native, and truly “get” digital: a handful of agencies like Work&Co, Wondersauce, Gin Lane, and so on that are born of the internet, rather than a hangover of print or TV advertising.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Do you think agencies need to change their business model to stay competitive?</span>
</p>

<p class="container__inner u-margin-Bl">
  I think so, since the larger companies are likely to bring more talent in-house to reduce their reliance on their incumbent agencies. The likes of Nike and Apple are doing this, and there is no reason other companies can’t start or acquire design practices.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Are you confident that agencies will continue to attract the best talent?</span>
</p>

<p class="container__inner u-margin-Bl">
  It depends on location: talent in San Francisco will always be attracted to the huge salaries tech has to offer (hence why agencies are closing-up there), whereas the best opportunities in London will be at agencies for a while to come. Client-side will always pay better and often empower creatives to do bigger, bolder, work, so agencies have their work cut out to make their roles attractive.
</p>

<p class="container__inner text--question u-margin-Bl">
  <span>Do you think see yourself working in an agency in 3 years time?</span>
</p>

<p class="container__inner u-margin-Bl">
  I think it’s quite unlikely that I’d ever join a traditional agency, and there are no agencies that I respect enough to want to trade in the freedom I have now (both in terms of time and financially).
</p>
