@media screen and (max-width: 840px) {
  .all-posts {
    text-align: center;
  }
}

.all-posts__post {
  max-width: 390px;
  display: inline-block;
}

@media screen and (min-width: 800px) {
  .all-posts__post:nth-child(odd) {
    margin-right: 15px;
  }
}

.all-posts__post img {
  transition: opacity 0.125s;
}

.all-posts__post img:hover {
  opacity: 0.8;
}

.all-posts__post__title {
	font-family: $font-quote;
	font-weight: 400;
	font-style: italic;
}