.menu__button {
  cursor: pointer;
  z-index: 100;
}

.menu {
  display: none;
  position: fixed;
  z-index: 99;
  width: 800px;
  height: 100vh;
  background-color: white;
  opacity: 0.97;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .menu {
    max-width: 100%;
    margin-left: -20px; // Fix weird container 20px padding
  }
}

.menu__list {
  display: inline-block;
}

.menu__list--page {
  font-family: $font-meta;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}