.menu__button {
  cursor: pointer;
  z-index: 100;
}

.menu {
  display: none;
  position: fixed;
  z-index: 99;
  width: 800px;
  height: 100vh;
  background-color: white;
  opacity: 0.95;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .menu {
    width: 100%;
  }
}

.menu__list {
  display: inline-block;
  text-align: left;
}