html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// styles

h1 {
  font-family: $font-headline;
  font-weight: 700;
  font-style: bold;
  font-size: 72px;
  line-height: 72px;
}

.comment {
  font-family: $font-meta;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.comment__heavy {
  @extend .comment;
  font-weight: 700;
  font-style: bold;
}

blockquote {
  font-family: $font-headline;
  font-weight: 400;
  font-style: italic;
  font-size: 60px;
  line-height: 66px;
  text-align: center; 
}

blockquote::before {
  content: '\201C';
  margin-right: -10px;
}

blockquote::after {
  content: '\201D';
  margin-left: -10px;
}

.paragraph-break {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  width: 40px;
  height: 1px;
  background-color: $color-dark;

}

// links

a, 
a:link, 
a:visited, 
a:hover, 
a:active {
  text-decoration: none;
  color: $color-dark;
  border-bottom: 2px solid $color-highlight;
}

a:hover, 
a:active {
  background-color: $color-highlight;
  border-top: 2px solid $color-highlight;
}

// lists

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}